{% extends 'polls/base.html' %}
{% block main_content %}
<div class="jumbotron">
<div class="container">
 <h1>{{question.question_text}}</h1>
{% if error_message %}
<p>
    <strong>{{error_message}}</strong>
</p>
{% endif %}
<form action="{% url 'polls:results' question.id %}" method = "post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
      <div class="form-check">
    <input type="radio" class="form-check-input" name="choice" id="choice{{forloop.counter}}" value="choice.id"/>
    <label for="choice{{forloop.counter}}"class="form-check-label">{{choice.choice_text}}</label>
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-success" value="vote" />
</form>
<a href="{% url 'polls:index' %}" /> Back to Question list </a>
</div>
</div>
{% endblock %}